<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Clientes</title>
        <link rel="stylesheet" href="css/Estilos.css"/>
        <link rel="icon" href=".../Imagenes/Icon.png" sizes="32x32"/>
    </h:head>
    <h:body>
        <div class="header">
            <h1>Clientes</h1>
            <right>
                <h4>
                    <p:outputLabel value="#{usuario.usuario}"/>
                </h4>
            </right>
        </div>
        <div class="row">
            <div class="leftcolumn">
                <div class="topnav">
                    <a href="Clientes.xhtml">Clientes</a>
                    <a href="Ventas.xhtml">Ventas</a>
                    <a href="Proveedores.xhtml">Proveedores</a>
                    <a href="Productos.xhtml">Productos</a>
                </div>
            </div>
            <div class="rightcolumn">
                <div id="divmed">
                    <form>
                        <div id="divmed">
                        <form>
                            <div id="div4">
                                <div id="texto">
                                <p></p><b><p:outputLabel value="Ingresar datos del cliente"/></b>
                                <br/><p></p><p:outputLabel value="Documento de identifiacion"/>
                                <p></p><p:inputText/>
                                <br/><p></p><p:outputLabel value="Nombres Completos"/>
                                <p></p><p:inputText/>
                                <br/><p></p><p:outputLabel value="Dirección"/>
                                <p></p><p:inputText/>
                                <br/><p></p><p:outputLabel value="Telefono"/>
                                <p></p><p:inputText/>
                                <br></br>
                                </div>
                                <p:commandButton style="margin-left: 20px; margin-top: 25px;" value="Guardar" icon="ui-icon-disk"/>
                                <p:commandButton style="margin-left: 20px; margin-top: 25px;" value="Eliminar" icon="ui-icon-trash"/>
                                <p:commandButton style="margin-left: 20px; margin-top: 10px;" value="Modificar" icon="ui-icon-refresh"/>
                                <p:commandButton style="margin-left: 20px; margin-top: 10px;" value="Buscar" icon="ui-icon-search"/>
                            </div>
                            <div id="div5">
                                <b><p:outputLabel style="margin-left: 15px;" id="lblInfoVneta" value="Información del clientes"/></b>
                                <br>
                                    
                                </br>
                                <p:dataTable>
                                    <p:column headerText="ID Cliente">
                                        <p:outputLabel />
                                    </p:column>
                                    <p:column headerText="Identificación">
                                        <p:outputLabel />
                                    </p:column>
                                    <p:column headerText="Nombres">
                                        <p:outputLabel />
                                    </p:column>
                                    <p:column headerText="Apellido">
                                        <p:outputLabel />
                                    </p:column>
                                        <p:column headerText="Direccion">
                                        <p:outputLabel />
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </form>   
                        </div>
                    </form>
                </div>
            </div>
        </div>
            <div class="footer">
                <h5>FOOTER <br></br>Grupo 3 
                </h5>
            </div>
    </h:body>
</html>

