<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Productos</title>
        <link rel="stylesheet" href="css/Estilos.css"/>
        <link rel="icon" href=".../Imagenes/Icon.png" sizes="32x32"/>
    </h:head>
    <h:body>
        <div class="header">
            <h1>Productos</h1>
        </div>
        <div class="row">
            <div class="leftcolumn">
                <div class="topnav">
                    <a href="Clientes.xhtml">Clientes</a>
                    <a href="Ventas.xhtml">Ventas</a>
                    <a href="Proveedores.xhtml">Proveedores</a>
                    <a href="Productos.xhtml">Productos</a>
                </div>
            </div>
            <div class="rightcolumn">
                <div id="divmed">
                <form>
                    <div id="div4">
                        <br></br>
                        <b><p:outputLabel style="margin-left: 8px; margin-top: 30px" id="lblIngresoVentas" value="Ingresos de la información del producto"/></b>
                        <br></br>
                        <br></br>  
                            <p:outputLabel id="lblProducto" style="margin-left: 8px;" value="Codigo:"/>
                            <p:inputText style="margin-left: 20px; margin-top: 10px" id="txtProducto"/>
                            <p:outputLabel style="margin-left: 8px; margin-top: 10px" id="lblCantidad" value="Nombre:"/>
                            <p:inputText style="margin-left: 14px;margin-top: 10px" id="txtCantidad"/>
                            <p:outputLabel style="margin-left: 8px; margin-top: 10px" id="lblPrecio" value="Precio:"/>
                            <p:inputText style="margin-left: 26px; margin-top: 10px" id="txtPrecio"/>
                        <br></br>
                            <br></br>
                            <br></br>
                            <p:commandButton style="margin-left: 15px;" value="Agregar Producto" icon="ui-icon-plusthick" type="button"/>
                            <br></br>
                            <p></p>
                            <p:commandButton style="margin-left: 15px;" value="Eliminar" icon="ui-icon-trash" type="button"/>
                    </div>
                        <div id="div5">
                            <p:outputLabel id="lblInfoVneta" value="Información del producto"/>
                            <br></br>
                            <br></br>
                            <p:dataTable >
                                <p:column headerText="Codigo">
                                    <p:outputLabel />
                                </p:column>
                                <p:column headerText="Nombre">
                                    <p:outputLabel />
                                </p:column>
                                <p:column headerText="Precio">
                                    <p:outputLabel />
                                </p:column>
                                <p:column headerText="Categoria">
                                <p:outputLabel />
                                </p:column>
                            </p:dataTable> 
                            
                        </div>
                </form>   
            </div>  
            </div>
        </div>
        <div class="footer">
            <h5>FOOTER <br></br>Grupo 3 
            </h5>
        </div>
    </h:body>
</html>
