<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Proveedores</title>
        <link rel="stylesheet" href="css/Estilos.css"/>
        <link rel="icon" href=".../Imagenes/Icon.png" sizes="32x32"/>
    </h:head>
    
    
    <h:body>
        <div class="header">
            <h1>Proveedores</h1>
        </div>
        <div class="row">
            <div class="leftcolumn">
                <div class="topnav">
                    <a href="Clientes.xhtml">Clientes</a>
                    <a href="Ventas.xhtml">Ventas</a>
                    <a href="Proveedores.xhtml">Proveedores</a>
                    <a href="Productos.xhtml">Productos</a>
                </div>
            </div>
            <div class="rightcolumn">
                            <div id="divmed">
                <form>
                    <div id="div4">
                        <div id="texto">
                            <b><p:outputLabel style="margin-left: 12px; margin-top: 30px" id="lblIngresoVentas" value="Ingresar datos del proveedor"/></b>
                            <br></br>
                            <br></br>  
                            <p></p><p:outputLabel style="margin-left: 8px; margin-top: 10px" id="lblTipDocu" value="Tipo Documento: "/>
                            <p:selectOneRadio style="margin-left: 100px; margin-top: 10px" id="txtTipDocu" >
                                <f:selectItem itemValue="Cedula" itemLabel="Cedula"/>
                                <f:selectItem itemValue="Ruc" itemLabel="Ruc"/>
                            </p:selectOneRadio>
                            <p></p>
                            <p:outputLabel id="lblDocumento" style="margin-left: 8px;" value="Documento:"/>
                            <p:inputText style="margin-left: 8px; margin-top: 10px; width: 200px;" id="txtDocumento"/>
                            <br></br> 
                            <br></br> 
                            
                            <p></p><p:outputLabel style="margin-left: 8px; margin-top: 10px" id="lblPRS" value="Razon-Social: "/>
                            <p:inputText style="margin-left: 8px; margin-top: 10px; width: 180px;" id="txtPRS"/>
                            <p></p><p:outputLabel style="margin-left: 8px; margin-top: 10px" id="lblTlf" value="Telefono: "/>
                            <p:inputText style="margin-left: 45px; margin-top: 10px; width: 180px;" id="txtTlf"/>
                        <br></br>
                        <center> 
                            <br></br> 
                            <p:commandButton style="margin-top: 12px;" value="Agregar" icon="ui-icon-plusthick" type="button"/>
                        </center>
                        <br></br>
                        <br></br>
                        </div>
                    </div>
                        <div id="div5">
                            <p><p:outputLabel id="lblInfoVneta" value="Información de Proveedores"/></p>
                            <br></br>
                            <br></br>
                            <p:dataTable >
                                <p:column headerText="Documento">
                                    <p:outputLabel />
                                </p:column>
                                <p:column headerText="Tipo">
                                    <p:outputLabel />
                                </p:column>
                                <p:column headerText="Razon Social">
                                    <p:outputLabel />
                                </p:column>
                                <p:column headerText="Telefono">
                                <p:outputLabel />
                                </p:column>
                            </p:dataTable> 
                        </div>
                </form>   
            </div> 
            </div>
        </div>
        <div class="footer">
            <h5>FOOTER <br></br>Grupo 3 
            </h5>
        </div>
    </h:body>
</html>

